body {
  border: 0;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  display: flex;
  min-height: 100vh;
}

.container .first-column {
  min-width: 199px;
  border-right: 1px solid black;
}

.container .second-column {
  width: 100%;
  min-width: 100px;
  border-right: 1px solid black;
}

.container .third-column {
  min-width: 300px;
}

@media only screen and (max-width: 599px) {
  .App {
    overflow-x: scroll;
  }

  .container {
    min-height: 97.5vh;
  }
}
